:root {
  --spring-easing: linear(
    0, 0.002, 0.008, 0.017, 0.031 1.9%, 0.07, 0.126 4.1%, 0.252 6.2%, 0.541 10.5%,
    0.665, 0.779, 0.873, 0.951 18.3%, 0.983, 1.011, 1.036, 1.056, 1.073,
    1.085 24.5%, 1.096, 1.102 27.2%, 1.103, 1.1 30.4%, 1.094 31.8%, 1.085 33.4%,
    1.037 40.4%, 1.016 44.1%, 1.007, 1, 0.995, 0.991 52.5%, 0.989 55.4%,
    0.99 58.8%, 0.998 71.8%, 1.001 79.1%, 1
  );
  --spring-mobile: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --material-easing: linear(
    0, 0.002, 0.01 3.6%, 0.034, 0.074 9.1%, 0.128 11.4%, 0.194 13.4%, 0.271 15%,
    0.344 16.1%, 0.544, 0.66 20.6%, 0.717 22.4%, 0.765 24.6%, 0.808 27.3%,
    0.845 30.4%, 0.883 35.1%, 0.916 40.6%, 0.942 47.2%, 0.963 55%, 0.979 64%,
    0.991 74.4%, 0.998 86.4%, 1
  );
}

@font-face {
  font-family: 'Arial-over';
  src: local('Arial');
  ascent-override: 82.7217%;
  descent-override: 21.7603%;
  line-gap-override: 0%;
  size-adjust: 119.8248%;
}

/* @keyframes slideOut {
  to { transform: translateX(75px); }
}
@keyframes slideIn {
  from { transform: translateX(-75px); }
}
::view-transition-old(view-slide) {
  animation-name: slideOut;
}
::view-transition-new(view-slide) {
  animation-name: slideIn;
}
@view-transition {
  navigation: auto;
} */

::view-transition-image-pair(slide) {
  isolation: auto;
}

::view-transition-old(slide),
::view-transition-new(slide) {
  animation: none;
  /* mix-blend-mode: normal;
  display: block; */
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Basic Fonts', 'Arial-over';
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; */
  background: linear-gradient(145deg, #F6F6F6, #ECE9E6);
  overscroll-behavior: contain;
  overflow-x: hidden;
  line-height: 1.5;
  user-select: text;
  -webkit-user-select: text;
  touch-action: pan-x pan-y pinch-zoom;
  /* overscroll-behavior: none; */
  /* touch-action: manipulation;
  scroll-behavior: smooth;
  overflow: hidden; */
}
* {
  box-sizing: border-box;
}

@stylex stylesheet;